body {
  background: url('https://www.transparenttextures.com/patterns/beige-paper.png') repeat;
  background-color: #fff7e0;
}
// body {
//   background: url('https://www.transparenttextures.com/patterns/fabric-of-squares.png') repeat;
//   background-color: #fef6df;
// }


@keyframes butterGlow {
  0%   { background-position: 0% 50%; }
  25%  { background-position: 50% 100%; }
  50%  { background-position: 100% 50%; }
  75%  { background-position: 50% 0%; }
  100% { background-position: 0% 50%; }
}

.section-highlight {
  background: linear-gradient(to bottom, #ffffffcc, #fffbeccc);
  box-shadow: 0 4px 12px rgba(255, 245, 210, 0.3);
  border-radius: 12px;
  padding: 2rem;
}